@page "/"
@using System.Net.Http.Headers
@using FootballQuestions.Ui.Models
@using FootballQuestions.Ui.Services
@using Microsoft.AspNetCore.Components

@inject IFootballQuestionService FootballQuestionService

<PageTitle>Daily Question</PageTitle>

<div class="container mt-5">
    <h1 class="text-center">Today's Football Question</h1>
    
    @if (footballQuestion != null)
    {
        <div class="card mt-3">
            <div class="card-header">
                <h5>@footballQuestion.Question</h5>
            </div>
            <div class="card-body">
                <p>@footballQuestion.Ruling</p>
            </div>
        </div>
    }
    else
    {
        <p class="text-center">Loading today's question...</p>
    }
</div>

@code{
    private FootballQuestion? footballQuestion;

    protected override async Task OnInitializedAsync()
    {
        footballQuestion = await FootballQuestionService.GetTodaysQuestion();
    }
}
